/********* define *********/

* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(201, 195, 195);
}

h2,
h3,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.disable {
  pointer-events: none;
}

.no-overflow {
  overflow: hidden;
}

.card-btn-wrapper {
  margin-top: 48px;
}

.btn {
  transition: box-shadow 0.6s;
  -webkit-transition: box-shadow 0.6s;
}

.card-btn-wrapper .btn,
.no-wrap-btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding: 12px;
  color: #fff;
  background: #05854f;
  border: none;
  border-radius: 4px;
}

.menu-btn.btn:hover,
.menu-btn.btn:focus {
  color: #fff;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  box-shadow: 0 2px 12px black;
  background: linear-gradient(to right, orangered, purple);
}

.btn:focus {
  outline: none;
}

/*************************   */

/******** main *********/

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1440px;
  background: #fff;
  position: relative;
}

/********************   */

/********* Header-Headline ******/

.main-bkg {
  background: url("./static/images/background-desktop.svg");
  background-repeat: no-repeat;
  padding-bottom: 187px;
}

/******************************   */

/********* header nav *********/

.nav-bar {
  padding: 16px 0;
}

.menu-list-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.mobile {
  display: none;
}

.menu-btn {
  text-align: center;
  padding: 10px 12px;
  border-radius: 8px;
}

.desktop a {
  color: #344563;
  font-size: 15px;
}

#menu-options {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-image: url(./static/images/options.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: top 4px left 4px;
}

.h2-logo {
  padding: 10px 12px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #28352f;
}

.menu-wrap {
  z-index: 99;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #e5e5e5;
  background-image: url(/static/images/footer-bar.svg);
  background-repeat: no-repeat;
  background-position: bottom 10px center;
}

.menu-wrap > div {
  background-color: white;
  height: 90vh;
  padding: 0 10px;
  border-radius: 0 0 30px 30px;
}

.menu-wrap .menu-x-btn-wrap {
  height: 50px;
}

.menu-wrap .menu-x-btn {
  outline: none;
  background-color: white;
  border: none;
  float: right;
  padding: 10px 0;
  cursor: pointer;
}

.menu-wrap ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 28px;
}

.menu-wrap li {
  flex-grow: 1;
}

.menu-wrap a {
  color: #3a4a42;
  width: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  padding: 10px 12px;
  border-radius: 8px;
}

.menu-wrap a:hover {
  color: white;
}

/*************************   */

/********* Headline *********/

#headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 160px 0;
  margin: 0 auto;
  max-width: 756px;
}

#h2-primary {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #172b4d;
  letter-spacing: 0.37px;
}

#h2-primary > span {
  color: #05854f;
}

#headline-description {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
}

.socio-media-list {
  display: flex;
  justify-content: center;
}

/* stylelint-disable  no-descending-specificity */

.socio-media-list-item > a {
  display: block;
  width: 24px;
  height: 24px;
}

/* stylelint-enable  no-descending-specificity */

.socio-media-list-item > a:focus {
  outline: 2px solid rgba(255, 102, 0, 0.4);
}

.socio-media-list-item {
  padding: 8px;
}

.socio-media-list-item img {
  width: 24px;
  height: 24px;
}

#colapse-action {
  position: relative;
  height: 114px;
}

.colapse-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  left: calc(50% - 40px / 2);
  bottom: 24px;
  border: 1px solid #dfe1e6;
  border-radius: 50%;
  padding: 8px;
  background-image: url(./static/images/colapse-btn.svg);
  background-repeat: no-repeat;
  background-position: top 8px left 8px;
  background-size: 22px 22px;
  transition: box-shadow 1s;
  -webkit-transition: box-shadow 1s;
}

.colapse-btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
}

/*************************   */

/********* works *********/

.works-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  max-width: 1171px;
  margin: 0 auto;
  padding: 84px 0;
}

.works-h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.works-container {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}

.works-card {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 474px;
  width: 369px;
  position: relative;
}

.works-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  position: absolute;
  height: 222px;
  bottom: 0;
  width: 337px;
  background: #fff;
  border-radius: 8px;
}

.works-card-h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
}

.works-card-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.works-card-list-item {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  color: #172b4d;
  padding: 8px 10px;
  background: #ebf0ee;
}

/*************************   */

/********* about *********/

#about {
  padding-top: 20px;
  padding-bottom: 70px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 52px;
  max-width: 1171px;
  margin: 0 auto;
}

.about-head-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  padding: 0 122px;
  padding-top: 30px;
  background-image:
    url(./static/images/about-1.svg),
    url(./static/images/about-2.svg);
  background-position:
    bottom left,
    top -65px right;
  background-repeat: no-repeat;
}

.about-h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.about-description {
  margin: 0;
  padding: 0 122px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.about-skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 2px 5px;
}

.about-card {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 352px;
  width: 369px;
  position: relative;
}

.about-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: absolute;
  left: 16px;
  top: 184px;
  width: 337px;
  border-radius: 8px;
}

.about-card-h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.about-card-image {
  position: absolute;
  width: 80px;
  height: 80px;
  left: calc(50% - 80px / 2);
  top: 40px;
  border-radius: 50%;
}

.about-card-list {
  padding: 0 33px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.about-card-list-item {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  padding: 12px;
  letter-spacing: 0.03em;
  color: #05854f;
  background: #fff;
}

/*************************   */

/********* contact *********/

#contact {
  padding-bottom: 145px;
  background-image:
    url(./static/images/contact-1.svg),
    url(./static/images/contact-2.svg),
    url(./static/images/contact-3.svg);
  background-position:
    bottom left,
    bottom 80px left 260px,
    bottom right;
  background-repeat: no-repeat;
}

.contact-wrapper {
  display: flex;
  gap: 24px;
  padding: 80px 0;
  max-width: 1171px;
  margin: auto;
}

.contact-h3 {
  max-width: 463px;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  color: #172b4d;
  padding: 50px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.field {
  background: #fff;
  border: 1px solid rgba(128, 128, 128, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  padding: 5px 10px;
  line-height: 24px;
  transition: outline 0.1s, box-shadow 0.6s;
  -webkit-transition: outline 0.1s, box-shadow 0.6s;
}

.field:focus {
  outline: 2px solid blue;
  box-shadow: 0 1px 12px black;
}

#msg {
  resize: vertical;
}

button[type='submit'] {
  width: 129px;
}

/*************************   */

/********* footer *********/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  border-top: 1px solid orangered;
}

.mail-address {
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

/*************************   */

.details-wizard-wrap {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: details-show 400ms;
  -webkit-animation: details-show 400ms;
}

.details-wizard-wrap > div {
  padding: 10px;
}

@keyframes details-show {
  from {
    top: -30px;
  }

  to {
    top: 0;
  }
}

@-webkit-keyframes details-show {
  from {
    top: -30px;
  }

  to {
    top: 0;
  }
}

.details-wizard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  max-width: 920px;
  padding: 24px;
  background: white;
  border: 1px solid #ebecf0;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 8px;
}

.details-top {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.details-x {
  width: 40px;
  height: 40px;
  align-self: flex-end;
  border: none;
  border-radius: 8px;
  background-image: url("static/images/details-x.svg");
  background-repeat: no-repeat;
}

.details-heading-wrap {
  display: flex;
  gap: 24px;
}

.details-proj-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.details-btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: white;
  height: 24px;
  min-width: max-content;
  border-radius: 8px;
  padding: 13px 46px 8px 12px;
  background-color: #36b37e;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center right 12px;
}

.details-btn-live {
  background-image: url(./static/images/details-live.svg);
}

.details-btn-src {
  background-image: url(./static/images/details-source.svg);
}

.details-skill-set {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.details-skill-set > li {
  padding: 8px 12px;
  background: #ebecf0;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #344563;
}

.details-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}
