/* mobile version max size */
@media (max-width: 599px) {
  .main-bkg {
    background: none;
    padding: 0;
  }

  /******** Head navbar ***************/

  .nav-bar {
    padding: 0 12px;
  }

  .menu-list-container {
    justify-content: space-between;
  }

  .menu-btn {
    padding: 0 12px;
  }

  li.desktop {
    display: none;
  }

  li.mobile {
    display: inline-flex;
  }

  /***********************************/

  /******** Headline *****************/

  #headline {
    gap: 58px;
    background-image: url(../images/background-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 24px ;
    padding-top: 64px;
    padding-bottom: 68px;
  }

  #h2-primary {
    color: #172B4D;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }

  #headline-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .socio-media-list {
    gap: 19px;
  }

  .socio-media-list-item {
    padding: 0;
  }

  .socio-media-list-item[name="Twitter"] {
    order: -1;
  }

  .socio-media-list-item[name="Angelist"] {
    order: 5;
  }

  .socio-media-list-item[name="GitHub"] {
    order: 4;
  }

  .socio-media-list-item img {
    width: 20px;
    height: 20px;
  }

  #colapse-action {
    height: 48px;
  }

  .colapse-btn {
    bottom: 4px;
  }

  /***************************************/

  /********* works *********/

.works-wrapper {
  gap: 62px;
  padding: 24px 26px;
}

.works-h2 {
  position: relative;
  padding: 0 24px;
  padding-bottom: 24px;
}

.works-h2 > span {
  display: inherit;
  position: absolute;
  width: 48px;
  height: 4px;
  left: calc(50% - 48px / 2);
  bottom: 0;
  background: #36b37e;
}

.works-container {
  grid-template-columns: 1fr;
}

.works-card {
  width: 327px;
}

.works-card-body {
  width: 295px;
}

  /********* about *********/

  .about-wrapper {
    gap: 58px;
    max-width: unset;
    margin: 0;
  }

  .about-head-wrapper {
    margin: 0 12px;
  }

  .about-skills-wrapper {
    grid-template-columns: 1fr;
    padding: 0 24px;
  }

  .about-card {
    width: 327px;
    /* margin: 0 20px; */
  }

  .about-card-body {
    left: 0;
    width: 327px;
  }

  .about-card-list {
    padding: 0 28px;
  }

  /**************************/

  /********* contact *********/

  .contact-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 58px;
    margin: 0;
    padding: 64px 20px 44px 20px;
    background-image: url(../images/contact-bkg-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom 0 left 100%;
  }

  .contact-h3 {
    font-size: 40px;
    text-align: center;
  }

  .contact-form {
    align-items: center;
    max-width: 450px;
  }

  .field {
    width: 100%;
  }

  .field-group {
    display: none;
  }

  /********* footer *********/

  .footer {
    border: none;
    margin: 0;
    margin-bottom: 40px;
  }

  .mail-address {
    display: inherit;
  }

  /**************************/

}
